<div class="card card-vertical" *ngIf="item.layout !== 'horizontal'">
  <img [src]="item.imageUrl" alt="{{ item.name }}">
  <div class="card-content">
    <h3>{{ item.name }}</h3>
    <p class="description">{{ item.description }}</p>
    <p class="price" *ngIf="item.price">A partir de R$ {{ item.price.toFixed(2) }}</p>
  </div>
</div>

<div class="card card-horizontal" *ngIf="item.layout === 'horizontal'">
  <div class="card-content">
    <h3>{{ item.name }}</h3>
    <p class="description">{{ item.description }}</p>
    <p class="price">A partir de R$ {{ item.price.toFixed(2) }}</p>
  </div>
  <img [src]="item.imageUrl" alt="{{ item.name }}">
</div>